/* Minimal, clean styles for the Todo UI */
.todo-page {
	max-width: 520px;
	margin: auto;
}

.todo-list {
	display: flex;
	flex-direction: column;
	border: none;
	border-radius: 8px;
}

.todo-item {
	display: flex;
	align-items: center;
	gap: 0;
	padding: 0;
	position: relative;
    margin: 0;
    padding: 6px 0px 6px 2px;
}

.todo-input {
	flex: 1;
	width: 100%;
	height: 23px;
	display: block;
	border: none;
    color: var(--text-color);
    background-color: transparent;
    text-align: left;
    font-size: 16px;
	resize: none;
	padding-left: 12px;
}

.todo-input:focus {
    outline: none;
}

/* Thin separators between items inside the container */
.todo-item + .todo-item {
	border-top: 1px solid var(--text-color);
}

.icon-button {
	border: none;
	background: none;
	width: 24px;
	height: 24px;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	color: var(--text-color);

    display: flex; /* Makes the container a flex container */
    justify-content: center; /* Centers horizontally */
}

.icon-button:hover {
	background: rgba(121, 121, 121, 0.1);
}

.title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 16px;
	color: var(--text-color);
}